# CMake
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake

# Compiled Objects, Libraries, and Executables
*.o
*.a
*.so
*.dylib
*.bin
a.out

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
